html, body, #root, .App{
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}


.background{
	position: absolute;
	margin: 0;
	width: 100%;
	height: 100%;
}

.backgroundSVG{
	width: 100%;
	height: 100%;
	fill: #222;
}

.headerContainer{
	position: absolute;
	width: 70%;
	height: 70%;
	color: #7E7B7B;
}

.header{
	position: absolute;
	margin-top: 8%;
	margin-left: 15%;
	width: 50%;
	height: 70%;
	color: #7E7B7B;
}

.simon{
	text-align: left;
	font-size: 3em;
	margin: 0;
}

@media screen and (max-width:1150px) {
	.infoText{
		font-size: .9em;
	}
}


.edvardsson{
	margin: 0;
	font-size: 2em;
	margin-left: 5%;
}


.headerInformation{
	height: 100%;
}

.infoText{
	-webkit-column-width: 200px;
	-moz-column-width: 200px;
	column-width: 200px;
}

.cardsContainer{
	float: right;
	height: 100%;
}


.backgroundContainer{
	position: absolute;
	margin: 0;
	width: 100%;
	height: 100%;
}

.svgBackground{
	position: absolute;
	margin: 0;
	width: 100%;
	height: 100%;
}




.aniHeader{
	width: 100%;
	height: 100%;
}


.project{
	position: relative;
	margin: 5%;
	padding-bottom: 10%;
}

.modalInfo{
	width: 50%;
}

.modalImage{
	position: absolute;
	width: 45%;
	right: 2%;
	top: 5%;
	-moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
	-webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
	box-shadow: 2px 4px 6px rgba(0,0,0,.5);
}

.modalHeader{
	font-size: 2em;
	margin-left: 5%;
	position: relative;
}

.modalInformation{
	margin-left: 5%;

}

.modalLink{
	position: relative;
	text-decoration: none;
	margin-left: 5%;
	color: #7E7B7B;
}

.modalLine{
	position: relative;
	margin-left: 5%;
	width: 90%;
	float: left;
}

.resume{
	position: absolute;
	height: 96%;
	margin-left: 35%;
	margin-top: 1%;
}









