html, body, #root, .App{
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	overflow-y: scroll;
}


.background{
	position: absolute;
	margin: 0;
	width: 100%;
	height: 100%;
}

.backgroundSVG{
	width: 100%;
	height: 100%;
	fill: #222;
}

.headerContainer{
	position: absolute;
	width: 70%;
	height: 70%;
	color: #7E7B7B;
}

.header{
	position: absolute;
	margin-top: 8%;
	margin-left: 15%;
	width: 50%;
	height: 70%;
	color: #7E7B7B;
}

.simon{
	text-align: left;
	font-size: 3em;
	margin: 0;
}

@media screen and (max-width:1150px) {
	.infoText{
		font-size: .9em;
	}
}


.edvardsson{
	margin: 0;
	font-size: 2em;
	margin-left: 5%;
}


.headerInformation{
	height: 100%;
}

.infoText{
	-webkit-column-width: 200px;
	-moz-column-width: 200px;
	column-width: 200px;
}

.cardsContainer{
	float: right;
	height: 100%;
}


.backgroundContainer{
	position: absolute;
	margin: 0;
	width: 100%;
	height: 100%;
}

.svgBackground{
	position: absolute;
	margin: 0;
	width: 100%;
	height: 100%;
}

.aniHeader{
	width: 100%;
	height: 100%;
}


.project{
	position: relative;
	margin: 5%;
	padding-bottom: 10%;
}
/* New */



.resume{
	position: absolute;
	height: 96%;
	margin-left: 35%;
	margin-top: 1%;
}


/* ========= Projects ========== */
.projectPage{
	overflow: hidden;
}

.pinCont{
	position: absolute;
	overflow: scroll;
	height: 100vh;
	width: 80%;
	right: 0;
}
.pintrestView{
	margin-top: 5%;
	margin-right: 10%;
	margin-left: 5%;
}
.projectContainer{
	border: 0px solid;
	border-radius: 5px;
	background-color: #222;
}

.imageContainer{
	overflow: hidden;
	width: 98%;
	margin: 0 auto;
	padding-top: 1%;
}
.projectImage{
	height: 100%;
	display: block;
}
.projectHeaderContainer{
	border-radius: 5px;
	position: relative;
	width: 100%;
	height: 50px;
	background-color: rgb(57, 52, 61);
}
.projectHeader{
	position: absolute;
	text-align: center;
	width: 100%;
	padding: 10px;
	color: #cac6c6;
}
.projectLink{
	text-decoration: none;
	color: #222;
}
.projectInformation{
	margin-top: 20%;
	margin-left: 5%;
	margin-right: 5%;
	position: absolute;
	top: 0;
	color: #CCCCCC;
}
.projectLine{
	position: absolute;
	top: 45px;
	width: 70%;
	margin-left: 15%;
}

.projectButtons{
	position: absolute;
	bottom: 0;
	width: 100%;
	margin-left: 27%;
	height: 50px;
}

.aws-btn {
	--button-default-height: 40px;
	--button-default-font-size: 20px;
	--button-default-border-radius: 7px;
	--button-horizontal-padding: 80px;
	--button-raise-level: 20px;
	--button-hover-pressure: 2;
	--transform-speed: 0.2s;
	--button-primary-color: rgba(154, 2, 0, 0.87);
	--button-primary-color-dark: #353537;
	--button-primary-color-light: #36373a;
	--button-primary-color-hover: #386234;
	--button-primary-border: none;
}




